body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 15px 35px;
}
.btn-primary:hover {
  background-color: #fffefead;
  border: 2px solid black;
  color: #181818;
  transition: 1s;
}
/*nav css*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.nav-title {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: black;
}

/* header style*/
.header {
  background-color: #fff8f3;

  background-image: url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-contant {
  max-width: 500px;
}
.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.banner-discribe {
}
.profile {
  width: 500px;
}
/*main section*/
main {
  max-width: 1100px;
  margin: auto;
}
/*section style*/

.about {
  padding: 100px 135px;
  border-radius: 10px;
  background: #fff8f3;
  margin-top: 130px;
}
.section-title {
  color: black;
  text-align: center;
  font-weight: 700;
}
.section-dicribe {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.info-title {
  margin-bottom: 0;
}
.info-description {
  margin-top: 0;
}

#what-discribe {
  padding: 0px 150px 30px 150px;
  margin-top: 0;
}
.section-title {
  padding-top: 50px;
}

.con {
  border: 2px solid black;
  padding: 100px;
  display: flex;
  justify-content: space-between;
}
.child-con {
  padding: 30px;
  border: 2px solid red;
}

/* skill style */

.skills-container {
  display: flex;
  gap: 25px;
}

.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}



/* resume style */

.resume{
  display: flex;
  justify-content: space-between;
  gap: 55px;
}
.rsme{
  text-align: center;
}